.image-wrap {
  width: 19%;
  height: 12vw;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
}

.image-checkbox {
  visibility: hidden;
  position: relative;
  top: -98%;
  left: 2%;
  zoom: 1.5;
  z-index: 1;
}
.image-checkbox:checked {
  visibility: inherit;
}
.thumbnail {
  width: 100%;
  height: 12vw;
  border-radius: 5px;
  background-color: lightblue;
  cursor: pointer;
}

.image-wrap:hover > .thumbnail {
  filter: brightness(60%);
}
.image-wrap:hover > .image-checkbox {
  visibility: inherit;
}
